<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="org.springframework.jdbc.core" level="trace"
		additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>

	<appender name="LOGGLY"
		class="ch.qos.logback.ext.loggly.LogglyAppender">
		<endpointUrl>https://logs-01.loggly.com/inputs/0740d43a-9028-4eb5-9252-2e54a80ab933/tag/apisecurity
		</endpointUrl>
		<pattern>%m</pattern>
	</appender>

	<logger name="com.course.apisecurity.api.filter.AuditLogFilter" level="info"
		additivity="false">
		<appender-ref ref="LOGGLY" />
	</logger>

</configuration>